<h2><%= @song.name %></h2>
<h3>By <%= @song.artist.name %></h3>

<img src ='<%= @pic %>' >
<!-- dont forget that double equals allows you to throw in raw html <br> -->
<p><%== @description %></p>
<%== @lyrics %>